# Pandas

Agora vamos falar um pouco de Pandas, uma biblioteca de Python que pode ser encarada bem grossamente como uma versão do Excel em Python.<br><br>

O nome **Pandas** vem de Panel Data, e não do urso. E é utilizado justamente para a visualização de dados em painel. Vimos que por meio do numpy, foi possível criar vetores e matrizes. Com o Pandas, poderemos anexar cabeçalhos a esses valores presentes nos vetores ou matrizes, como se fosse de fato uma tabela em Excel.<br><br>

Sem mais delongas, vamos começar a falar de Pandas e como funciona...

Primeiramente, você deve ter o módulo Pandas instalado no seu computador, isso foi ensinado previamente no material de módulos. <br><br>

Após ter instalado, vamos importar o módulo. É extremamente comum, sempre que você trabalhar com o módulo Pandas, trabalhar com o Numpy junto, até porque o Pandas é baseado no numpy. Portanto, importarei o Numpy também:

In [1]:
import pandas as pd
import numpy as np

## Pandas Series

O primeiro tipo de dado que vamos abordar com o Pandas são as Series.<br><br>

As Series são bem similares à listas e à vetores, de forma que não é um tipo de dado matricial e sim unidimensional, porém, a diferença é que para cada elemento da Serie teremos um label específico, ao invés de um simples index location.<br><br>

Vamos trabalhar alguns exemplos:

In [2]:
labels = ['a','b','c','d']
lista = [1,2,3,4]
arr = np.arange(1,5,1)
dic = {'a':1, 'b':2, 'c':3, 'd':4}

Acima eu criei alguns objetos que usarei para criar Series. Farei isso para mostrar que posso partir de diferentes tipos de objetos para criar a nossa série. Primeiro vou mostrar o que acontece se criarmos uma Serie utilizando apenas uma lista:

In [3]:
pd.Series(data=lista)

0    1
1    2
2    3
3    4
dtype: int64

Veja que eu tenho o que se parece com um vetor de numpy, mas note que ao lado de cada elemento, eu possuo o index location de cada um. Eu estou sendo mostrado o index location pois não atribui nenhum label para os elementos, eu posso fazer isso utilizado minha outra lista "labels". Veja:

In [4]:
pd.Series(data=lista,index=labels)

a    1
b    2
c    3
d    4
dtype: int64

Agora, ao lado esquerdo de cada elemento, possuo o label correspondente! Eu posso criar o mesmo exato dicionário a partir de um array de Numpy. Veja:

In [5]:
pd.Series(data=arr,index=labels)

a    1
b    2
c    3
d    4
dtype: int32

Se eu utilizar um dicionário para criar uma série, os labels serão automaticamente colocados de acordo com o valor de cada elemento e sua key. Veja:

In [6]:
pd.Series(dic)

a    1
b    2
c    3
d    4
dtype: int64

Importante se notar que os dados armazenados em uma Serie ou um DataFrame (abordaremos um pouco mais a frente) não se limitam a números. Tanto que eu posso inverter a ordem dos fatores. Colocando a minha lista de labels como os valores e os valores como labels:

In [7]:
pd.Series(data=labels,index=arr)

1    a
2    b
3    c
4    d
dtype: object

## Utilizando indexação e somando séries

Vou criar um cenário hipotético. Pense que estamos na copa do mundo e eu vou criar uma Serie para mostrar a pontuação de cada país.

In [8]:
pont_1 = pd.Series(data=[5,7,15,9,3], index=['EUA', 'Alemanha',
                                            'Brasil', 'Italia', 'Japao'])

In [9]:
pont_1

EUA          5
Alemanha     7
Brasil      15
Italia       9
Japao        3
dtype: int64

In [10]:
# Se eu quiser indexar algum elemento desta série, posso fazer da seguinte forma:
pont_1['Brasil']

15

Agora vamos supor que por algum erro, estão faltando pontos e alguns paises na Serie pont_1. O restante dos pontos estão em outra Serie pont_2:

In [11]:
pont_2 = pd.Series(data=[2,3,1,9], index=['Coreia do Sul',
                                            'Brasil', 'Italia', 'Argentina'])

In [12]:
pont_2

Coreia do Sul    2
Brasil           3
Italia           1
Argentina        9
dtype: int64

Algo que podemos fazer com Series seria somar ambas, porém teremos um problema que mostrarei como solucionar posteriormente, quando estivermos lidando com valores nulos. Vamos somar:

In [13]:
pont_1 + pont_2

Alemanha          NaN
Argentina         NaN
Brasil           18.0
Coreia do Sul     NaN
EUA               NaN
Italia           10.0
Japao             NaN
dtype: float64

Veja que todos os labels que não eram comuns entre as duas Series foram atribuidos valores de NaN (isto significa: Not a Number)

**Agora que falamos um pouco de Series, vamos passar para dos DataFrames. Que vai utilizar e expandir os conceitos que aprendemos até agora**

## DataFrames

Os **DataFrames** são de fato o cerne da biblioteca Pandas. Podemos encarar os DataFrames como um conjunto de Series todas juntas e compartilando os mesmos index. Vou aqui criar um DataFrame para vermos como funciona:

In [14]:
#Vou aqui mostrar a documentação da classe DataFrame.
#Lembre-se que no Jupyter, você pode facilmente ver a documentação apertando SHIFT + TAB
help(pd.DataFrame)

Help on class DataFrame in module pandas.core.frame:

class DataFrame(pandas.core.generic.NDFrame)
 |  DataFrame(data=None, index: Union[Collection, NoneType] = None, columns: Union[Collection, NoneType] = None, dtype: Union[str, numpy.dtype, ForwardRef('ExtensionDtype'), NoneType] = None, copy: bool = False)
 |
 |  Two-dimensional, size-mutable, potentially heterogeneous tabular data.
 |
 |  Data structure also contains labeled axes (rows and columns).
 |  Arithmetic operations align on both row and column labels. Can be
 |  thought of as a dict-like container for Series objects. The primary
 |  pandas data structure.
 |
 |  Parameters
 |  ----------
 |  data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
 |      Dict can contain Series, arrays, constants, or list-like objects.
 |
 |      .. versionchanged:: 0.23.0
 |         If data is a dict, column order follows insertion-order for
 |         Python 3.6 and later.
 |
 |      .. versionchanged:: 0.25.0
 |         If data is a list of dicts, column order follows insertion-order
 |         for Python 3.6 and later.
 |
 |  index : Index or array-like
 |      Index to use for resulting frame. Will default to RangeIndex if
 |      no indexing information part of input data and no index provided.
 |  columns : Index or array-like
 |      Column labels to use for resulting frame. Will default to
 |      RangeIndex (0, 1, 2, ..., n) if no column labels are provided.
 |  dtype : dtype, default None
 |      Data type to force. Only a single dtype is allowed. If None, infer.
 |  copy : bool, default False
 |      Copy data from inputs. Only affects DataFrame / 2d ndarray input.
 |
 |  See Also
 |  --------
 |  DataFrame.from_records : Constructor from tuples, also record arrays.
 |  DataFrame.from_dict : From dicts of Series, arrays, or dicts.
 |  read_csv
 |  read_table
 |  read_clipboard
 |
 |  Examples
 |  --------
 |  Constructing DataFrame from a dictionary.
 |
 |  >>> d = {'col1': [1, 2], 'col2': [3, 4]}
 |  >>> df = pd.DataFrame(data=d)
 |  >>> df
 |     col1  col2
 |  0     1     3
 |  1     2     4
 |
 |  Notice that the inferred dtype is int64.
 |
 |  >>> df.dtypes
 |  col1    int64
 |  col2    int64
 |  dtype: object
 |
 |  To enforce a single dtype:
 |
 |  >>> df = pd.DataFrame(data=d, dtype=np.int8)
 |  >>> df.dtypes
 |  col1    int8
 |  col2    int8
 |  dtype: object
 |
 |  Constructing DataFrame from numpy ndarray:
 |
 |  >>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
 |  ...                    columns=['a', 'b', 'c'])
 |  >>> df2
 |     a  b  c
 |  0  1  2  3
 |  1  4  5  6
 |  2  7  8  9
 |
 |  Method resolution order:
 |      DataFrame
 |      pandas.core.generic.NDFrame
 |      pandas.core.base.PandasObject
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.SelectionMixin
 |      pandas.core.indexing.IndexingMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __add__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __and__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __and__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __div__ = __truediv__(self, other, axis=None, level=None, fill_value=None)
 |
 |  __eq__(self, other)
 |      Wrapper for comparison method __eq__
 |
 |  __floordiv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __floordiv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __ge__(self, other)
 |      Wrapper for comparison method __ge__
 |
 |  __getitem__(self, key)
 |
 |  __gt__(self, other)
 |      Wrapper for comparison method __gt__
 |
 |  __iadd__(self, other)
 |
 |  __iand__(self, other)
 |
 |  __ifloordiv__(self, other)
 |
 |  __imod__(self, other)
 |
 |  __imul__(self, other)
 |
 |  __init__(self, data=None, index: Union[Collection, NoneType] = None, columns: Union[Collection, NoneType] = None, dtype: Union[str, numpy.dtype, ForwardRef('ExtensionDtype'), NoneType] = None, copy: bool = False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, other)
 |
 |  __ipow__(self, other)
 |
 |  __isub__(self, other)
 |
 |  __itruediv__(self, other)
 |
 |  __ixor__(self, other)
 |
 |  __le__(self, other)
 |      Wrapper for comparison method __le__
 |
 |  __len__(self) -> int
 |      Returns length of info axis, but here we use the index.
 |
 |  __lt__(self, other)
 |      Wrapper for comparison method __lt__
 |
 |  __matmul__(self, other)
 |      Matrix multiplication using binary `@` operator in Python>=3.5.
 |
 |  __mod__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __mod__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __mul__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __mul__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __ne__(self, other)
 |      Wrapper for comparison method __ne__
 |
 |  __or__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __or__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __pow__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __pow__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __radd__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __radd__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rand__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __rand__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rdiv__ = __rtruediv__(self, other, axis=None, level=None, fill_value=None)
 |
 |  __repr__(self) -> str
 |      Return a string representation for a particular DataFrame.
 |
 |  __rfloordiv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rfloordiv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rmatmul__(self, other)
 |      Matrix multiplication using binary `@` operator in Python>=3.5.
 |
 |  __rmod__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rmod__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rmul__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rmul__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __ror__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __ror__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rpow__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rpow__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rsub__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rsub__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rtruediv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rtruediv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing

In [15]:
df = pd.DataFrame(data=np.random.randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())

In [16]:
df

          W         X         Y         Z
A  0.475503 -2.351614  0.782916  0.672217
B -0.225925  1.350820  0.477558 -0.446970
C -2.035758  0.920148  0.822441  1.503183
D -1.027070  2.426338 -0.031602  0.847775
E -2.396329  0.382727 -0.368922  0.383717

Esse é o nosso DataFrame, veja que se parece com uma matriz, porém temos labels para as colunas e para as linhas!

### Indexação
Vamos ver algumas maneiras diferentes para capturar dados dos DataFrames:

In [17]:
df['X']

A   -2.351614
B    1.350820
C    0.920148
D    2.426338
E    0.382727
Name: X, dtype: float64

In [18]:
# Posso também passar uma lista de nomes de colunas:
df[['X','Z']]

          X         Z
A -2.351614  0.672217
B  1.350820 -0.446970
C  0.920148  1.503183
D  2.426338  0.847775
E  0.382727  0.383717

In [19]:
# Eu posso também chamar a coluna como se fosse um método:
# Esta maneira de indexar não é muito recomendada, pois corre-se o risco de você chamar algum método em vez de indexar a coluna
df.X

A   -2.351614
B    1.350820
C    0.920148
D    2.426338
E    0.382727
Name: X, dtype: float64

Para criar uma nova coluna no seu DataFrame, basta indexar uma coluna com um nome que ainda não foi criado, e especificar o dado que ela deve conter.  Veja como é simples:

In [20]:
df['nova_col'] = df['X'] + df['Z']

In [21]:
df

          W         X         Y         Z  nova_col
A  0.475503 -2.351614  0.782916  0.672217 -1.679397
B -0.225925  1.350820  0.477558 -0.446970  0.903850
C -2.035758  0.920148  0.822441  1.503183  2.423331
D -1.027070  2.426338 -0.031602  0.847775  3.274114
E -2.396329  0.382727 -0.368922  0.383717  0.766444

Agora, se eu quiser remover uma parte do DataFrame, eu posso utilizar o método **.drop()** para fazê-lo:

In [22]:
#Veja o que acontece se eu tentar simplesmente remover uma coluna:
df.drop('nova_col')

KeyError: "['nova_col'] not found in axis"

Temos um erro que o label "nova-col" não foi encontrado, porém, existe uma coluna com este nome! Isto corre pelo seguinte: <br><br>

A função drop, assim como algumas outras que veremos mais a frente, possui o argumento **axis**, que tem como default, o valor 0. Quando o valor do axis é 0, significa que estamos nos referindo às linhas, e quando o valor do axis é 1 significa que estamos nos referindo às colunas (seguindo a ordem de indexação de elementos de matrizes, primeiro as linhas e depois as  colunas!). Veja como é feito da forma correta:

In [23]:
df.drop('nova_col',axis=1)

          W         X         Y         Z
A  0.475503 -2.351614  0.782916  0.672217
B -0.225925  1.350820  0.477558 -0.446970
C -2.035758  0.920148  0.822441  1.503183
D -1.027070  2.426338 -0.031602  0.847775
E -2.396329  0.382727 -0.368922  0.383717

Agora funcionou! Se eu quiser deletar uma linha, eu posso fazê-la simplesmente sem especificar um valor para o argumento "axis", ou especificando e falando que é 0, porém isso não é necessário, visto que esse método atribui o valor 0 como default para o argumento "axis".

In [24]:
df.drop('E')

          W         X         Y         Z  nova_col
A  0.475503 -2.351614  0.782916  0.672217 -1.679397
B -0.225925  1.350820  0.477558 -0.446970  0.903850
C -2.035758  0.920148  0.822441  1.503183  2.423331
D -1.027070  2.426338 -0.031602  0.847775  3.274114

Note que a coluna que eu havia deletado voltou a aparecer!

Isso ocorre porque o Pandas não deleta de fato as colunas ou linhas com o método drop, a não ser que você especifique um argumento **inplace** como **True**. Veja:

In [25]:
df.drop(labels='nova_col',axis=1,inplace=True)
df

          W         X         Y         Z
A  0.475503 -2.351614  0.782916  0.672217
B -0.225925  1.350820  0.477558 -0.446970
C -2.035758  0.920148  0.822441  1.503183
D -1.027070  2.426338 -0.031602  0.847775
E -2.396329  0.382727 -0.368922  0.383717

### loc e iloc

Você deve ter notado que ao indexarmos elementos de um df, estávamos indexando as colunas:

In [26]:
df['W']

A    0.475503
B   -0.225925
C   -2.035758
D   -1.027070
E   -2.396329
Name: W, dtype: float64

Para indexarmos linhas, podemos utilizar os métodos **loc** e **iloc**. Veja como funciona:

In [27]:
# O loc funciona como se estivéssemos indexando normalmente:
df.loc['A']

W    0.475503
X   -2.351614
Y    0.782916
Z    0.672217
Name: A, dtype: float64

Ao indexarmos uma linha, nos é retornado uma série, assim como se estivéssemos indexando uma coluna.

Agora, ao falar do método **iloc**, é bem semelhante, a diferença é que vamos especificar a linha por seu index location, e não por seu label:

In [28]:
# Pegando a linha A, que é a primeira, e possui o index location 0
df.iloc[0]

W    0.475503
X   -2.351614
Y    0.782916
Z    0.672217
Name: A, dtype: float64

Com **loc** eu posso pegar subsets de linhsa e colunas e também passar listas para pegar partes do DataFrame

In [29]:
df

          W         X         Y         Z
A  0.475503 -2.351614  0.782916  0.672217
B -0.225925  1.350820  0.477558 -0.446970
C -2.035758  0.920148  0.822441  1.503183
D -1.027070  2.426338 -0.031602  0.847775
E -2.396329  0.382727 -0.368922  0.383717

In [30]:
# Pegando um elemento especifico passando a linha e depois a coluna
df.loc['B','Z']

-0.4469704496152444

In [31]:
# Pegando parte do DataFrame passando listas de linhas e colunas:
df.loc[['B', 'E'], ['W', 'Y']]

          W         Y
B -0.225925  0.477558
E -2.396329 -0.368922

### Seleção condicional

Assim como vimos em Numpy, podemos selecionar e filtrar elementos de um DataFrame por meio de afirmações condicionais, e isso vai ser uma ferramenta muito importante quando trabalhando com Pandas:

In [32]:
df

          W         X         Y         Z
A  0.475503 -2.351614  0.782916  0.672217
B -0.225925  1.350820  0.477558 -0.446970
C -2.035758  0.920148  0.822441  1.503183
D -1.027070  2.426338 -0.031602  0.847775
E -2.396329  0.382727 -0.368922  0.383717

Se eu criar uma afirmação condicional a partir do meu df, será me retornado um df com *boolean values* apenas. Veja:

In [33]:
df<0

       W      X      Y      Z
A  False   True  False  False
B   True  False  False   True
C   True  False  False  False
D   True  False   True  False
E   True  False   True  False

A partir disso, eu posso tentar indexar o df original, vamos ver o que acontece:

In [34]:
df[df<0]

          W         X         Y        Z
A       NaN -2.351614       NaN      NaN
B -0.225925       NaN       NaN -0.44697
C -2.035758       NaN       NaN      NaN
D -1.027070       NaN -0.031602      NaN
E -2.396329       NaN -0.368922      NaN

Em todos os lugares em que afirmação foi falsa, o valor foi alterado para NaN. Hm, e se eu quiser filtrar meu df, tirando os valores negativos de alguma coluna? Isso pode ser feito da seguinte forma:

In [35]:
df[df['Z']>0]

          W         X         Y         Z
A  0.475503 -2.351614  0.782916  0.672217
C -2.035758  0.920148  0.822441  1.503183
D -1.027070  2.426338 -0.031602  0.847775
E -2.396329  0.382727 -0.368922  0.383717

Vamos por partes, pois essa parte é importante compreender de fato. Vamos lembrar o que acontece se eu selecionar a coluna Z do meu DataFrame:

In [36]:
df['Z']

A    0.672217
B   -0.446970
C    1.503183
D    0.847775
E    0.383717
Name: Z, dtype: float64

Beleza, fui retornado uma série com o valor de cada linha para a coluna que escolhi. Agora vamos aplicar uma afirmação condicional:

In [37]:
df['Z']>0

A     True
B    False
C     True
D     True
E     True
Name: Z, dtype: bool

Eu tenho agora a mesma série porém com valores boolean apenas. O Pandas possui a inteligência para que, se eu realizar a indexação do df com uma série de valores boolean, de me retornar apenas as linhas nas quais os valores são **True**. Então, juntando tudo:

In [38]:
df[df['Z']>0]

          W         X         Y         Z
A  0.475503 -2.351614  0.782916  0.672217
C -2.035758  0.920148  0.822441  1.503183
D -1.027070  2.426338 -0.031602  0.847775
E -2.396329  0.382727 -0.368922  0.383717

Note que o Output disso tudo foi mais um DataFrame, então, se eu quiser, eu posso indexar alguma coluna dele pra obter uma outra série como Output:

In [39]:
df[df['Z']>0]['Y']

A    0.782916
C    0.822441
D   -0.031602
E   -0.368922
Name: Y, dtype: float64

In [40]:
# Ou então indexar algumas colunas, por meio de uma lista, e obter outro DataFrame
df[df['Z']>0][['Y', 'Z']]

          Y         Z
A  0.782916  0.672217
C  0.822441  1.503183
D -0.031602  0.847775
E -0.368922  0.383717

Se eu quiser realizar dois filtros ao mesmo tempo no meu df, posso realizá-lo da seguinte forma:

In [41]:
df

          W         X         Y         Z
A  0.475503 -2.351614  0.782916  0.672217
B -0.225925  1.350820  0.477558 -0.446970
C -2.035758  0.920148  0.822441  1.503183
D -1.027070  2.426338 -0.031602  0.847775
E -2.396329  0.382727 -0.368922  0.383717

In [42]:
# Dessa forma estamos juntando duas afirmações condicionais
df[(df['Y'] > 0) & (df['Z'] > 0)]

          W         X         Y         Z
A  0.475503 -2.351614  0.782916  0.672217
C -2.035758  0.920148  0.822441  1.503183

In [43]:
df[(df['Y'] > 0) | (df['Z'] > 0)]

          W         X         Y         Z
A  0.475503 -2.351614  0.782916  0.672217
B -0.225925  1.350820  0.477558 -0.446970
C -2.035758  0.920148  0.822441  1.503183
D -1.027070  2.426338 -0.031602  0.847775
E -2.396329  0.382727 -0.368922  0.383717

### Alguns métodos para trabalhar com indexes

In [44]:
df

          W         X         Y         Z
A  0.475503 -2.351614  0.782916  0.672217
B -0.225925  1.350820  0.477558 -0.446970
C -2.035758  0.920148  0.822441  1.503183
D -1.027070  2.426338 -0.031602  0.847775
E -2.396329  0.382727 -0.368922  0.383717

Algo que podemos fazer é resetar o index de um DataFrame, por exemplo, se eu quiser eu posso remover o index A, B, C... para colocar 0, 1, 2... Com o seguinte método:

In [45]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.475503 -2.351614  0.782916  0.672217
1     B -0.225925  1.350820  0.477558 -0.446970
2     C -2.035758  0.920148  0.822441  1.503183
3     D -1.027070  2.426338 -0.031602  0.847775
4     E -2.396329  0.382727 -0.368922  0.383717

Reminder: o argumento **Inplace** ainda é válido para esses métodos, portanto, se eu chamar o df agora, ele será mostrado como foi feito originalmente:

In [46]:
df

          W         X         Y         Z
A  0.475503 -2.351614  0.782916  0.672217
B -0.225925  1.350820  0.477558 -0.446970
C -2.035758  0.920148  0.822441  1.503183
D -1.027070  2.426338 -0.031602  0.847775
E -2.396329  0.382727 -0.368922  0.383717

Existe um outro método para indicar uma nova coluna para ser os indexes do DataFrame. Veja, vou adicionar uma nova coluna com siglas de estados brasileiros e depois vou colocá-la como um index:

In [47]:
estados = 'SP RJ MT SC RS'.split()
df['Estados'] = estados
df

          W         X         Y         Z Estados
A  0.475503 -2.351614  0.782916  0.672217      SP
B -0.225925  1.350820  0.477558 -0.446970      RJ
C -2.035758  0.920148  0.822441  1.503183      MT
D -1.027070  2.426338 -0.031602  0.847775      SC
E -2.396329  0.382727 -0.368922  0.383717      RS

In [48]:
df.set_index('Estados')

                W         X         Y         Z
Estados
SP       0.475503 -2.351614  0.782916  0.672217
RJ      -0.225925  1.350820  0.477558 -0.446970
MT      -2.035758  0.920148  0.822441  1.503183
SC      -1.027070  2.426338 -0.031602  0.847775
RS      -2.396329  0.382727 -0.368922  0.383717

In [49]:
# Como não usei o inplace=True, se eu chamar o df:
df

          W         X         Y         Z Estados
A  0.475503 -2.351614  0.782916  0.672217      SP
B -0.225925  1.350820  0.477558 -0.446970      RJ
C -2.035758  0.920148  0.822441  1.503183      MT
D -1.027070  2.426338 -0.031602  0.847775      SC
E -2.396329  0.382727 -0.368922  0.383717      RS

### Hierarquia de Index e Multi-Index

O que podemos fazer com o DataFrame também é criar mais de um tipo de índice, imagine como se alguns indices fizessem parte de um grupo e outros fizessem parte de outro grupo. <br><br>

Vou tentar trazer um exemplo didático seguindo a lógica dos estados brasileiros:

In [50]:
maior = 'Sudeste Sudeste Sudeste Sudeste CentroOeste CentroOeste CentroOeste CentroOeste'.split()
menor = 'SP RJ ES MG MS MT GO DF'.split()
indexador = list(zip(maior, menor))
index = pd.MultiIndex.from_tuples(indexador)

In [51]:
index

MultiIndex([(    'Sudeste', 'SP'),
            (    'Sudeste', 'RJ'),
            (    'Sudeste', 'ES'),
            (    'Sudeste', 'MG'),
            ('CentroOeste', 'MS'),
            ('CentroOeste', 'MT'),
            ('CentroOeste', 'GO'),
            ('CentroOeste', 'DF')],
           )

In [52]:
df = pd.DataFrame(np.random.randn(8,2), index=index, columns=['A', 'B'])
df.index.names=['Regiões', 'Estados']

In [53]:
df

                            A         B
Regiões     Estados
Sudeste     SP       3.019573  0.652048
            RJ      -0.349060 -0.381213
            ES      -0.141022  0.994119
            MG      -2.258480 -2.168206
CentroOeste MS       0.139751  0.263355
            MT       1.945916 -0.861472
            GO      -0.678697 -0.746083
            DF      -0.596523 -0.908167

### Lidando com NaNs

Vou agora mostrar dois métodos que podemos utilizar para lidar com NaNs em nossos DataFrames:

In [54]:
import numpy as np
import pandas as pd

In [55]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

Veja que acima eu defini o dicionário direto no argumento do DataFrame, isso pode ser feito sem problemas!

In [56]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

Primeiro eu vou mostrar o método **dropna**, que vai eliminar linhas ou colunas que possuem elementos NaN:

In [57]:
# Sem definir axis=1, eu elimino as linhas
df.dropna()

     A    B  C
0  1.0  5.0  1

In [58]:
# Definindo o argumento axis=1, eu vou eliminar as colunas:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [59]:
# Ver o Help das funções ou utilizar Shift+Tab no Jupyter sempre ajuda:
help(pd.DataFrame.dropna)

Help on function dropna in module pandas.core.frame:

dropna(self, axis=0, how='any', thresh=None, subset=None, inplace=False)
    Remove missing values.

    See the :ref:`User Guide <missing_data>` for more on which values are
    considered missing, and how to work with missing data.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Determine if rows or columns which contain missing values are
        removed.

        * 0, or 'index' : Drop rows which contain missing values.
        * 1, or 'columns' : Drop columns which contain missing value.

        .. versionchanged:: 1.0.0

           Pass tuple or list to drop on multiple axes.
           Only a single axis is allowed.

    how : {'any', 'all'}, default 'any'
        Determine if row or column is removed from DataFrame, when we have
        at least one NA or all NA.

        * 'any' : If any NA values are present, drop that row or column.
        * 'all' : If all values are NA, drop that row or column.

    thresh : int, optional
        Require that many non-NA values.
    subset : array-like, optional
        Labels along other axis to consider, e.g. if you are dropping rows
        these would be a list of columns to include.
    inplace : bool, default False
        If True, do operation inplace and return None.

    Returns
    -------
    DataFrame
        DataFrame with NA entries dropped from it.

    See Also
    --------
    DataFrame.isna: Indicate missing values.
    DataFrame.notna : Indicate existing (non-missing) values.
    DataFrame.fillna : Replace missing values.
    Series.dropna : Drop missing values.
    Index.dropna : Drop missing indices.

    Examples
    --------
    >>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
    ...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
    ...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
    ...                             pd.NaT]})
    >>> df
           name        toy       born
    0    Alfred        NaN        NaT
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Drop the rows where at least one element is missing.

    >>> df.dropna()
         name        toy       born
    1  Batman  Batmobile 1940-04-25

    Drop the columns where at least one element is missing.

    >>> df.dropna(axis='columns')
           name
    0    Alfred
    1    Batman
    2  Catwoman

    Drop the rows where all elements are missing.

    >>> df.dropna(how='all')
           name        toy       born
    0    Alfred        NaN        NaT
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Keep only the rows with at least 2 non-NA values.

    >>> df.dropna(thresh=2)
           name        toy       born
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Define in which columns to look for missing values.

    >>> df.dropna(subset=['name', 'born'])
           name        toy       born
    1    Batman  Batmobile 1940-04-25

    Keep the DataFrame with valid entries in the same variable.

    >>> df.dropna(inplace=True)
    >>> df
         name        toy       born
    1  Batman  Batmobile 1940-04-25

Outro método que utilizamos para lidar com NaNs é o **.fillna** que irá substituir os valores NaNs por algum de sua preferência:

In [60]:
df.fillna(value='VALOR DE SUA PREFERÊNCIA') #risos

                          A                         B  C
0                         1                         5  1
1                         2  VALOR DE SUA PREFERÊNCIA  2
2  VALOR DE SUA PREFERÊNCIA  VALOR DE SUA PREFERÊNCIA  3

Dependendo da base de dados com a qual você esteja trabalhando, existirá uma forma melhor de lidar com os valores ausentes, porém uma forma possível seria colocar a média dos valores daquela coluna:

In [61]:
df.apply(lambda x : x.fillna(x.mean()),axis=0)

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3

Acima, eu consegui colocar a média dos valores de cada coluna por meio do método **.apply**, que insere uma fórmula por algum dos eixos do df. E criei uma função lambda contendo o método fillna a partir da média dos valores daquela coluna.

### GroupBy

Agora vamos falar de um outro método importante do Pandas que é o **groupby**. Que nos permitirá agregar os dados baseados em alguma chave em comum. Veja:

In [62]:
dados = pd.DataFrame({'Empresa':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Nome':['Samuel','Carlos','Ana','Vanessa','Mateus','Bruna'],
       'Vendas':[200,120,340,124,243,350]})
dados

  Empresa     Nome  Vendas
0    GOOG   Samuel     200
1    GOOG   Carlos     120
2    MSFT      Ana     340
3    MSFT  Vanessa     124
4      FB   Mateus     243
5      FB    Bruna     350

Repare na estrutura do DF acima, veja que o nome da empresa se repete de acordo com o nome do vendedor, mas supomos que por ora o nome do vendedor não importe para a gente e só queremos saber as vendas por empresa, o que podemos fazer é utilizar o método groupby para resolver esse problema:

In [63]:
dados.groupby('Empresa')

Veja que foi me retornado um objeto que não consigo visualizar e seu endereço na memória. Isso ocorre porque pedimos para os dados serem agrupados porém não falamos exatamente o que queremos com isso, portanto, vou mostrar o que podemos fazer. Vou criar um novo DF e mostrar como podemos calcular os dados:

In [64]:
dados_emp = dados.groupby('Empresa')

In [65]:
#Se eu quiser saber o total de vendas por empresa, posso fazer:
dados_emp.sum()

         Vendas
Empresa
FB          593
GOOG        320
MSFT        464

In [66]:
# Posso fazer para a média:
dados_emp.mean()

         Vendas
Empresa
FB        296.5
GOOG      160.0
MSFT      232.0

In [67]:
# Desvio Padrào
dados_emp.std()

             Vendas
Empresa
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [68]:
# Min e Max
dados_emp.min() # se quiser o máximo, basta colocar max

           Nome  Vendas
Empresa
FB        Bruna     243
GOOG     Carlos     120
MSFT        Ana     124

In [69]:
# Se eu quiser um resumo de estatísticas, posso usar o método describe:
dados_emp.describe()

        Vendas
         count   mean         std    min     25%    50%     75%    max
Empresa
FB         2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG       2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT       2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [70]:
help(pd.DataFrame.describe)

Help on function describe in module pandas.core.generic:

describe(self: ~FrameOrSeries, percentiles=None, include=None, exclude=None) -> ~FrameOrSeries
    Generate descriptive statistics.

    Descriptive statistics include those that summarize the central
    tendency, dispersion and shape of a
    dataset's distribution, excluding ``NaN`` values.

    Analyzes both numeric and object series, as well
    as ``DataFrame`` column sets of mixed data types. The output
    will vary depending on what is provided. Refer to the notes
    below for more detail.

    Parameters
    ----------
    percentiles : list-like of numbers, optional
        The percentiles to include in the output. All should
        fall between 0 and 1. The default is
        ``[.25, .5, .75]``, which returns the 25th, 50th, and
        75th percentiles.
    include : 'all', list-like of dtypes or None (default), optional
        A white list of data types to include in the result. Ignored
        for ``Series``. Here are the options:

        - 'all' : All columns of the input will be included in the output.
        - A list-like of dtypes : Limits the results to the
          provided data types.
          To limit the result to numeric types submit
          ``numpy.number``. To limit it instead to object columns submit
          the ``numpy.object`` data type. Strings
          can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
          select pandas categorical columns, use ``'category'``
        - None (default) : The result will include all numeric columns.
    exclude : list-like of dtypes or None (default), optional,
        A black list of data types to omit from the result. Ignored
        for ``Series``. Here are the options:

        - A list-like of dtypes : Excludes the provided data types
          from the result. To exclude numeric types submit
          ``numpy.number``. To exclude object columns submit the data
          type ``numpy.object``. Strings can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
          exclude pandas categorical columns, use ``'category'``
        - None (default) : The result will exclude nothing.

    Returns
    -------
    Series or DataFrame
        Summary statistics of the Series or Dataframe provided.

    See Also
    --------
    DataFrame.count: Count number of non-NA/null observations.
    DataFrame.max: Maximum of the values in the object.
    DataFrame.min: Minimum of the values in the object.
    DataFrame.mean: Mean of the values.
    DataFrame.std: Standard deviation of the observations.
    DataFrame.select_dtypes: Subset of a DataFrame including/excluding
        columns based on their dtype.

    Notes
    -----
    For numeric data, the result's index will include ``count``,
    ``mean``, ``std``, ``min``, ``max`` as well as lower, ``50`` and
    upper percentiles. By default the lower percentile is ``25`` and the
    upper percentile is ``75``. The ``50`` percentile is the
    same as the median.

    For object data (e.g. strings or timestamps), the result's index
    will include ``count``, ``unique``, ``top``, and ``freq``. The ``top``
    is the most common value. The ``freq`` is the most common value's
    frequency. Timestamps also include the ``first`` and ``last`` items.

    If multiple object values have the highest count, then the
    ``count`` and ``top`` results will be arbitrarily chosen from
    among those with the highest count.

    For mixed data types provided via a ``DataFrame``, the default is to
    return only an analysis of numeric columns. If the dataframe consists
    only of object and categorical data without any numeric columns, the
    default is to return an analysis of both the object and categorical
    columns. If ``include='all'`` is provided as an option, the result
    will include a union of attributes of each type.

    The `include` and `exclude` parameters can be used to limit
    which columns in a ``DataFrame`` are analyzed for the output.
    The parameters are ignored when analyzing a ``Series``.

    Examples
    --------
    Describing a numeric ``Series``.

    >>> s = pd.Series([1, 2, 3])
    >>> s.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    dtype: float64

    Describing a categorical ``Series``.

    >>> s = pd.Series(['a', 'a', 'b', 'c'])
    >>> s.describe()
    count     4
    unique    3
    top       a
    freq      2
    dtype: object

    Describing a timestamp ``Series``.

    >>> s = pd.Series([
    ...   np.datetime64("2000-01-01"),
    ...   np.datetime64("2010-01-01"),
    ...   np.datetime64("2010-01-01")
    ... ])
    >>> s.describe()
    count                       3
    unique                      2
    top       2010-01-01 00:00:00
    freq                        2
    first     2000-01-01 00:00:00
    last      2010-01-01 00:00:00
    dtype: object

    Describing a ``DataFrame``. By default only numeric fields
    are returned.

    >>> df = pd.DataFrame({'categorical': pd.Categorical(['d','e','f']),
    ...                    'numeric': [1, 2, 3],
    ...                    'object': ['a', 'b', 'c']
    ...                   })
    >>> df.describe()
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Describing all columns of a ``DataFrame`` regardless of data type.

    >>> df.describe(include='all')
            categorical  numeric object
    count            3      3.0      3
    unique           3      NaN      3
    top              f      NaN      c
    freq             1      NaN      1
    mean           NaN      2.0    NaN
    std            NaN      1.0    NaN
    min            NaN      1.0    NaN
    25%            NaN      1.5    NaN
    50%            NaN      2.0    NaN
    75%            NaN      2.5    NaN
    max            NaN      3.0    NaN

    Describing a column from a ``DataFrame`` by accessing it as
    an attribute.

    >>> df.numeric.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    Name: numeric, dtype: float64

    Including only numeric columns in a ``DataFrame`` description.

    >>> df.describe(include=[np.number])
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Including only string columns in a ``DataFrame`` description.

    >>> df.describe(include=[np.object])
           object
    count       3
    unique      3
    top         c
    freq        1

    Including only categorical columns from a ``DataFrame`` description.

    >>> df.describe(include=['category'])
           categorical
    count            3
    unique           3
    top              f
    freq             1

    Excluding numeric columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[np.number])
           categorical object
    count            3      3
    unique           3      3
    top              f      c
    freq             1      1

    Excluding object columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[np.object])
           categorical  numeric
    count            3      3.0
    unique           3      NaN
    top              f      NaN
    freq             1      NaN
    mean           NaN      2.0
    std            NaN      1.0
    min            NaN      1.0
    25%            NaN      1.5
    50%            NaN      2.0
    75%            NaN      2.5
    max            NaN      3.0

## Merge, Join e Concatenação

Existem 3 principais maneiras de combinar DataFrames, que são as funções: 
**merge, join e concat**. Vamos ver como estas funcionam com exemplos.

In [71]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [72]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [73]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

#### Concatenação

Vamos começar falando da função **.concat**. Que serve para basucamente "colar" um DF no outro, seja por linhas ou colunas. Veja:

In [74]:
help(pd.concat)

Help on function concat in module pandas.core.reshape.concat:

concat(objs: Union[Iterable[Union[ForwardRef('DataFrame'), ForwardRef('Series')]], Mapping[Union[Hashable, NoneType], Union[ForwardRef('DataFrame'), ForwardRef('Series')]]], axis=0, join='outer', ignore_index: bool = False, keys=None, levels=None, names=None, verify_integrity: bool = False, sort: bool = False, copy: bool = True) -> Union[ForwardRef('DataFrame'), ForwardRef('Series')]
    Concatenate pandas objects along a particular axis with optional set logic
    along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series or DataFrame objects
        If a dict is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised.
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along.
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis (or axes).
    ignore_index : bool, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level.
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys.
    names : list, default None
        Names for the levels in the resulting hierarchical index.
    verify_integrity : bool, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation.
    sort : bool, default False
        Sort non-concatenation axis if it is not already aligned when `join`
        is 'outer'.
        This has no effect when ``join='inner'``, which already preserves
        the order of the non-concatenation axis.

        .. versionadded:: 0.23.0
        .. versionchanged:: 1.0.0

           Changed to not sort by default.

    copy : bool, default True
        If False, do not copy data unnecessarily.

    Returns
    -------
    object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    See Also
    --------
    Series.append : Concatenate Series.
    DataFrame.append : Concatenate DataFrames.
    DataFrame.join : Join DataFrames using indexes.
    DataFrame.merge : Merge DataFrames by indexes or columns.

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3], sort=False)
      letter  number animal
    0      a       1    NaN
    1      b       2    NaN
    0      c       3    cat
    1      d       4    dog

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']

In [75]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [76]:
pd.concat([df1,df2,df3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

Simples, certo? Bom, agora vamos falar do **merge**. Se você tiver conhecimento de SQL, verá que o merge traz a mesma lógica. Porém, para um iniciante isso pode ser relativamente confuso, sugiro que procure mais a respeito também e tente entender.

In [80]:
esquerda = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
direita = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [81]:
esquerda

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [82]:
direita

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [84]:
pd.merge(esquerda, direita)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [86]:
pd.merge(esquerda, direita, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [87]:
# Tentando com dataframes com keys diferentes
esquerda = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
direita = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [88]:
esquerda

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [89]:
direita

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [92]:
pd.merge(esquerda, direita, on=['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [93]:
pd.merge(esquerda, direita, how='outer', on=['key1', 'key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

Bom, vamos falar um pouco do que foi feito aqui.<br><br>

O merge é uma função com maior funcionalidade do que a concatenação, porém para juntarmos apenas dois dataframes, enquanto no concat, eu posso passar uma lista de dataframes e ir colando um no outro!<br><br>

A função merge possui uma boa quantidade de argumentos que podem ser explorados e inclusive eu recomendo que o faça, um muito importante é esse **how**, vou deixar aqui uma documentação legal a respeito de join em SQL que explica como funciona o argumento **how**: <br>
>https://www.w3schools.com/sql/sql_join.asp

Bom, agora falando sobre o método **join**. Ele é a mesma coisa que o merge, porém em vez de uma função, é um método que do DataFrame! Ou seja, chamamos ele de uma forma diferente em nosso código, veja:

In [96]:
esquerda = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

direita = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [99]:
esquerda

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [100]:
direita

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [97]:
esquerda.join(direita)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [98]:
esquerda.join(direita, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

## Outras operações

Vou mostrar alguns outros métodos que são úteis no Pandas e que não pude mostrar até agora em nenhuma categoria específica. Vamos ver:

In [101]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[100,500,600,100],'col3':['abc','def','ghi','xyz']})
df

   col1  col2 col3
0     1   100  abc
1     2   500  def
2     3   600  ghi
3     4   100  xyz

In [102]:
# podemos saber quais são os valores únicos de uma coluna
df['col2'].unique()

array([100, 500, 600], dtype=int64)

In [103]:
# podemos saber da quantidade de valores únicos
df['col2'].nunique()

3

In [104]:
# saber quantas vezes cada valor aparece
df['col2'].value_counts()

100    2
500    1
600    1
Name: col2, dtype: int64

In [105]:
# o método apply aplica uma função no DF ou em alguma parte dele:
df['col1'].apply(lambda x: x*2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [106]:
df[['col1', 'col2']].apply(lambda x: x*2)

   col1  col2
0     2   200
1     4  1000
2     6  1200
3     8   200

In [107]:
df.apply(lambda x : x*2) #eu posso multiplicar strings em Python!

   col1  col2    col3
0     2   200  abcabc
1     4  1000  defdef
2     6  1200  ghighi
3     8   200  xyzxyz

In [108]:
# posso obter a soma de uma coluna
df['col2'].sum()

1300

In [109]:
# posso remover uma coluna permanentemente, como se inplace=True
del df['col1']

In [110]:
df

   col2 col3
0   100  abc
1   500  def
2   600  ghi
3   100  xyz

In [112]:
#ver as colunas de um DataFrame
df.columns

Index(['col2', 'col3'], dtype='object')

In [113]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [114]:
df.set_index('col3').index

Index(['abc', 'def', 'ghi', 'xyz'], dtype='object', name='col3')

In [116]:
# Posso ordenar meu DataFrame
df.sort_values('col2') #inplace=False por default

   col2 col3
0   100  abc
3   100  xyz
1   500  def
2   600  ghi

In [117]:
df

   col2 col3
0   100  abc
1   500  def
2   600  ghi
3   100  xyz

Outra coisa que podemos fazer com os DataFrames é criar pivot tables (a famosa tabela dinâmica do Excel) a partir deles. Se você é um usuário de Excel relativamente avançado, você deve ter bastante prática com isso. Vamos ver como fazer isso com Pandas:

In [119]:
df = pd.DataFrame({'A':['legal','legal','legal','chato','chato','chato'],
     'B':['um','um','dois','dois','um','um'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]})

df

       A     B  C  D
0  legal    um  x  1
1  legal    um  y  3
2  legal  dois  x  2
3  chato  dois  y  5
4  chato    um  x  4
5  chato    um  y  1

In [120]:
# Vamos fazer uma Pivot Table a partir dos dados acima
df.pivot_table(values='D', index=['A', 'B'], columns='C')

C             x    y
A     B
chato dois  NaN  5.0
      um    4.0  1.0
legal dois  2.0  NaN
      um    1.0  3.0

Olha, de fato não se preocupe caso não tenha ficado 100% claro algumas das coisas que fiz aqui, o mais importante é você saber que existem essas ferramentas e conseguir aplicá-las para o seu uso. No meu caso, e acredito que possa ser o seu, alguns desses métodos e funções só fazem sentido pra mim quando estou trabalhando com dados reais, e quando estou simplesmente chamando tudo de X e Y fica confuso!

Portanto, não se preocupe. Acredito que se você conseguiu absorver o que eu apresentei aqui de forma básica, já possui um bom conhecimento de Pandas que agora pode ser aplicado e aprofundado!

# Boa sorte e bom trabalho!